@import "animate";
* {
  font-family: "Roboto", sans-serif;
  &:before,
  &:after {
    pointer-events: none;
  }
}

html,
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #edf5e1;
  color: #05386b;
}

html {
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  text-rendering: auto;
  -webkit-overflow-scrolling: touch;
}

body {
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
main {
  overflow-y: scroll;
  padding-top: 56px;
}
