.banner {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  background-color: #5cdb95;
  .profile {
    display: flex;
    justify-content: center;
    img {
      border-radius: 30px 0;
      width: 100%;
      max-width: 500px;
      box-shadow: -8px 12px 23px -5px rgba(0, 0, 0, 0.75);
      height: 80vh;
      object-fit: cover;
      max-height: 500px;
    }
  }
  .textArea {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    .contact {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: #05386b;
        &:hover {
          color: #edf5e1;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    .profile {
      img {
        height: 50vh;
      }
    }
    .textArea {
      align-items: center;
      text-align: center;
      .info {
        padding: 20px 0;
      }
    }
  }
}
