.socialapps {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  a {
    height: 50px;
    width: 50px;
    border-radius: 10px 0;
    border: 1px solid #05386b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    position: relative;
    span {
      position: relative;
      z-index: 1;
    }
    &:last-child {
      margin-right: 0;
    }
    &:after {
      position: absolute;
      border-radius: 9px 0;
      width: 100%;
      height: 0;
      content: "";
      z-index: 0;
      transition: ease-in 0.2s;
      bottom: 0;
    }
    &:hover {
      color: #edf5e1;

      &:after {
        height: 100%;
      }
    }
    &.facebook {
      &:after {
        background: #3b5999;
      }
    }
    &.twitter {
      &:after {
        background: #55acee;
      }
    }
    &.linkedIn {
      &:after {
        background: #0077b5;
      }
    }
    &.gitHub {
      &:after {
        background: #161b22;
      }
    }
    &.instagram {
      &:after {
        background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
      }
    }
  }
}
